<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="jdbc.driverClass" value="com.mysql.cj.jdbc.Driver"/>
    </properties>fdsfds
    <!--    <typeAliases>-->
    <!--        <package name="com.a.artifact.mapper"/>-->
    <!--    </typeAliases>-->

<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${jdbc.driverClass}"/>-->
<!--                <property name="url" value="jdbc:mysql:///vueblog2?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="234@#$wer"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
<!--    <mappers>-->
<!--        &lt;!&ndash;    <mapper resource="StudentMapper.xml"/>&ndash;&gt;-->
<!--        <package name="com.a.artifact.mapper"></package>-->
<!--    </mappers>-->
</configuration>
