<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.a.artifact.mapper.StudentMapper">
    <select id="selectUsers" parameterType="int" resultType="com.a.artifact.pojo.Student">
  select * from student where id = #{id}
</select>
    <!--<select id="listStudent" resultType="List<Student>">-->
    <!--        select * from  student-->
    <!--    </select>-->

    <!--<insert id="addStudent" parameterType="Student">-->
    <!--        insert into student (id, studentID, name) values (#{id},#{studentID},#{name})-->
    <!--    </insert>-->

    <!--<delete id="deleteStudent" parameterType="Student">-->
    <!--        delete from student where id = #{id}-->
    <!--    </delete>-->

    <!--<select id="getStudent" parameterType="_int" resultType="Student">-->
    <!--        select * from student where id= #{id}-->
    <!--    </select>-->

    <!--<update id="updateStudent" parameterType="Student">-->
    <!--        update student set name=#{name} where id=#{id}-->
    <!--    </update>-->
</mapper>